<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="New Or Existing Exp Rpt Suite">
	<listeners>
		<listener class-name="com.framework.reports.HtmlReporter"></listener>
		<listener class-name="com.framework.testng.RetryListener"></listener>
		<listener class-name="com.framework.testng.DataProviderListener"></listener>
	
	</listeners>
	<test name="NewExpRepInvalid" enabled="true">
		<classes>
		    <class name="com.framework.test.expences.CreateExpenceReport"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
